body{
    background-image: url(../img/cyberpunkFondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bebas Neue', sans-serif;
}

/* Vista en movil */
@media only screen and (max-width: 678px){
    
    body{
        background-image: url(../img/cyberpunkFondoMovil.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .contenedorGirado, .textoGirado, .contenido{
        display: none;
    }

    .pruebaNav{
        position: initial;
        margin-top: 5%;
    }
    ul{
        display: flex;
        justify-content: space-evenly;
    }
    li{
        list-style: none;
        width: 20%;
        height: 30px;
    }
/* Novedades */

.novedades{
    width: 80%;
    margin: auto;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
    visibility: visible;
    border: 2px solid #00e6f6;
    background-color: #00e6f620;
    color: white;
}
.novedades > section{
    display: block;
    margin-top: 6%;
}
.imgN{
    width: 40%;
    margin-left: 2%;
    border: none;
}

/* Proyectos */

.imgP1, .imgP2, .imgP3{
    border: 2px solid #00E6F6;
    width: 70%;
}

.proyectos > section{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.proyectos{
    display: flex;
    flex-direction: column;
    visibility: visible;
    margin-top: 3%;
}
    /* Contacto */
    #contacto{
        width: 60%;
        margin: auto;
        margin-bottom: 15%;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        font-size: xx-large;
        text-align: center;
        visibility: visible;
        border: 2px solid #00E6F6;
        background-color: #00e6f620;
        color: white;
    }
    .imgIcon{
        margin-top: 2%;
        width: 15%;
        background-color: white;
        border-radius: 100%;
    }

    .contactoForm{
        margin-top: 10%;
    }
    .contactoLinks{
        margin-top: 7%;

    }

    .inputTexto{
        border: none;
        border-bottom: 2px solid #00E6F6;
        width: 90%;
        background: none;
    }

    /* Footer */
    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white;
    }
    .sectFooter{
        display: flex;
        justify-content: space-between;
        background-color: black;
    }
}

/* Vista en ordenador */
@media only screen and (min-width:679px) {
    body{
        margin: 0;
        background-color: black;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .contenedorGirado{
        position: absolute;
        min-width: 100%;
        min-height: 300%;
        rotate: 45deg;
        left: -50%;
        top: -125%;
        z-index: 10;
    }
    .textoGirado{
        position: relative;
        /* background-color: aqua; */
        top: 130vh;
        font-size: 20px;
        text-align: end;
        rotate: 315deg;
        z-index: 1;
    }
    .contenido{
        margin-right: 20%;
        color: white;
    }
    /* Menu Main*/
    .navMain{
        color: white;
        width: fit-content;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        z-index: 0;
    }
    li{
        margin-top: 1vh;
    }
    #TituloNav{
        visibility: visible;
        margin-top: 20vh;
        margin-left: 75vw;
    }
    .hidden{
        visibility: hidden;
        transform: translateX(-100%);
    }
    #S1, #S2, #S3 {
        text-align: end;
        padding: 10px;
    }
    #S1 {
        margin-top: 10%;
        margin-right: 15%;
    }
    #S2 {
        margin-right: 20%;
    }
    #S3 {
        margin-right: 25%;
    }

    .social{
        margin-left: 90%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-area:
        "social1"
        "social2"
        "social3";
        background-color: white;
        border: 2px rgb(255, 200, 0);
        width: 6%;
    }
    .social1, .social2, .social3{
       width: 50px;
        height: 50px;
        margin: auto;
    }

    /* Animacion Diagonal */
    .contenedorGirado {
        transform: translateX(0);
        opacity: 1;
        transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    }
    
    .move-left {
        transform: translateX(-100%);
        opacity: 0;
    }
    
    /* Animaciones botones */

    .move-left-buttons1,
    .move-left-buttons1S,
    .move-left-buttons2,
    .move-left-buttons2S,
    .move-left-buttons3,
    .move-left-buttons3S {
    transition: transform 1s ease-in-out;
    }

    .botonS > button{
        background: linear-gradient(45deg, transparent 5%, #000000c5 5%);
    }
    .move-left-buttons1 {
        transform: translateX(-85%);
    }

    .move-left-buttons1S {
        transform: translateX(-82%);
    }
    
    .move-left-buttons2 {
        transform: translateX(-84%);
    }

    .move-left-buttons2S {
        transform: translateX(-81%);
    }

    .move-left-buttons3 {
        transform: translateX(-83%);
    }
    .move-left-buttons3S {
        transform: translateX(-80%);
    }

/* Aside añadido con DOM */

    .añadirDOM{
        position: absolute;
        left: 30%;
        top: 12%;
        height: 70%;
        width: 60%;
        overflow-y: auto;
        visibility: hidden;
}
    .añadirDOM::-webkit-scrollbar {
        display: none;
    }
    /* Novedades */

    .novedades{
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        visibility: visible;
        border: 2px solid #00e6f6;
        background-color: #00e6f620;
        color: white;
    }
    .novedades > section{
        display: block;
        margin-top: 6%;
    }
    .imgN{
        width: 40%;
        margin-left: 2%;
        border: none;
    }

    /* Proyectos */

    .imgP1, .imgP2, .imgP3{
        border: 2px solid #00E6F6;
    }
    .imgP1{
        width: 100%;
        height: 100%;
    }
    .imgP2{
        width: 100%;
    }
    .imgP3{
        width: 100%;
        height: 50%;
    }

    .proyectos > section{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .proyecto1{
        grid-area: p1;
    }
    .proyecto2{
        grid-area: p2;
    }
    .proyecto3{
        grid-area: p3;
        
    }
    .proyectos{
        display: grid;
        visibility: visible;
        gap: 5%;
        grid-template-areas: 
        "p1 p2"
        "p3 p3"
        ;
        overflow: hidden;
        margin-top: 3%;
    }

    /* Contacto */
    #contacto{
        width: 30%;
        margin: auto;
        display: flex;
        flex-direction: column;
        font-size: xx-large;
        text-align: center;
        visibility: visible;
        border: 2px solid #00E6F6;
        background-color: #00e6f620;
        color: white;
    }
    .imgIcon{
        margin-top: 2%;
        width: 15%;
        background-color: white;
        border-radius: 100%;
    }

    .contactoForm{
        margin-top: 10%;
    }
    .contactoLinks{
        margin-top: 7%;

    }

    .inputTexto{
        border: none;
        border-bottom: 2px solid black;
        width: 90%;
    }
    /* Footer */
    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 20;
        color: white;
    }
    .sectFooter{
        display: flex;
        justify-content: space-between;
        background-color: black;
    }
}